<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is index Page</title>
</head>
<body>
    <center>
      <h1>How to create CRUD Operations</h1>
      <h2>Django Web Framework</h2>
      <hr/>
        <a href="{% url 'stinsert'%}">Add Student Record</a>
      <table border="1">
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Mobile No</th>\
          <th>Gender</th>
        </tr>
          {% for displayst in crudst %}
        <tr>
            <td>{{displayst.id}}</td>
            <td>{{displayst.stname}}</td>
            <td>{{displayst.stemail}}</td>
            <td>{{displayst.staddress}}</td>
            <td>{{displayst.stmobile}}</td>
            <td>{{displayst.stgender}}</td>
            <td><a href ="/edit/{{displayst.id}}">edit</a></td>
            <td><a href ="/delete/{{displayst.id}}" onclick="return confirm('Are you sure you want delete')">delete</a></td>

        </tr>
          {% endfor %}
      </table>
    <center>
</body>
</html>